.loading-bar {
    width: 100px; 
    height: 20px; 
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
  }
  .loading-bar1 {
    width: 0;
    height: 100%;
    background-color: #333;
    animation: loading 2s infinite;
  }
  
  @keyframes loading {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }